<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/nav.css?v=8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
 integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
 crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Varela&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'nav.html' %}

  <!-- Your content blocks here -->
  {% block content %}
  {% endblock %}

  <!-- Your scripts here -->
</body>
<script src="/static/js/nav.js"></script>
</html>
